:host {
  font-family: "JetBrains Mono", sans-serif;
}

.sec_video {
  background-color: var(--dark-color);
  position: relative;
}


video {
  object-fit: cover;
  width: 100%;
  height: 600px;
}

.text_video {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light-color);
  font-family: "JetBrains Mono", sans-serif;
  gap: 30px

}

.text_video_main {
  display: grid;
  grid-gap: 30px
}

.text_video_main-title {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  font-family: "JetBrains Mono", sans-serif;
}

.text_video_main-subtitle {
  font-size: 16px;
  text-align: center;
  max-width: 900px;
}

.text_video_main-subtitle_mob{
  display: none;
  font-size: 16px;
  text-align: center;
  max-width: 900px;
}

.text_video_btn {
  font-family: "JetBrains Mono", sans-serif;
  background-color: var(--light-primary-color);
  color: var(--light-color);
  border-radius: 14px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 16px 20px;

  &:hover {
    background-color: var(--primary-color);
  }
}


.about {
  display: grid;
  grid-template-rows: 90px 90px;
  grid-gap: 40px;
  font-family: "JetBrains Mono", sans-serif;
  background-color: var(--dark-color);
  padding: 100px 150px;
}

.about_fir {
  font-size: 85px;
  font-weight: 600;
  color: var(--light-color);
  text-align: center;
}

.about_sec {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.ab {
  display: grid;
  grid-gap: 10px;
}

.ab_title {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
}

.ab_text {
  font-size: 14px;
  font-weight: 300;
  color: var(--light-color);

}


.check {
  display: flex;
  flex-direction: column;
  padding: 80px;
  gap: 20px;
}

.check_title {
  font-size: 40px;
  font-weight: 400;
  color: var(--dark-color);
}

.check_main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding: 20px;
}

.check_left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.check_img {
  box-shadow: 10px 10px 30px #888;
}

.check_right {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.check_right-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.check_right-title {
  font-size: 30px;
  font-weight: 500;
  color: var(--dark-color);
}

.check_right-subtitle {
  font-size: 22px;
  font-weight: 300;
  color: var(--dark-color);
  line-height: 30px;
}

.check_right-form {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.check_right-form-all {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.check_right-form_np_d {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.check_right-form_np {
  font-size: 20px;
  font-weight: 400;
}

.check_right-form_np_input {
  border-radius: 14px;
  border: 2px solid var(--primary-color);
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  width: 400px;

  &:focus {
    outline: none;
  }
}

.check_right-form_btn_d {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check_right-form_btn {
  background-color: var(--light-primary-color);
  border: none;
  border-radius: 14px;
  padding: 16px 26px;
  font-size: 20px;
  font-weight: 400;
  color: var(--light-color);
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color);
  }
}

.popup {
  position: fixed;
  border-radius: 14px;
  padding: 10px 20px;
  bottom: 0;
  right: 0;
  margin: 20px;
}

.success_popup {
  background-color: var(--primary-color);
}

.fail_popup {
  background-color: #fd3b3b;
}

.main_popup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_popup {
  font-size: 18px;
  color: var(--light-color);
}

.photo_slider{
  display: flex;
  flex-direction: column;
  padding: 80px;
  gap: 20px;
}

@media (max-width: 480px) {
  .text_video{
    display: flex;
    flex-direction: column;
  }
  .text_video_main-title,
  .span_hr,
  .text_video_main-subtitle{
    display: none;
  }

  .text_video_main-subtitle_mob{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 40px;

  }

  video{
    object-fit: cover;
    width: 100vw;
    height: 60vw;
  }

  .about {
    grid-template-rows: auto auto;
    grid-gap: 40px;
    padding: 40px;
  }

  .about_fir{
    font-size: 30px;
  }

  .about_sec{
    display: flex;
    grid-gap: 50px;
    flex-direction: column;
    padding: 0 20px;
  }


  .check{
    display: flex;
    padding: 40px 40px;
    flex-direction: column;
    gap: 7px;
  }
  .check_main {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
    padding: 20px;
  }
  .check_img{
    width: 100%;
  }
  .check_title{
    font-size: 25px;
  }
  .check_right-text{
    gap: 10px;
  }
  .check_right-subtitle{
    font-size: 16px;
    line-height: 20px;
  }
  .check_right{
    gap: 30px;
  }
  .check_right-form_np{
    font-size: 16px;
  }

  .check_right-form-all{
    gap: 20px;
  }
  .check_right-form{
    gap: 40px;
  }
  .check_right-title{
    font-size: 18px;
  }

  .check_right-form_np_input {
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    width: auto;
    box-sizing: border-box;
  }

  .check_right-form_btn, .text_video_btn {
    padding: 13px 20px;
    font-size: 16px;
    font-weight: 400;
  }


}
