:host {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  font-family: "JetBrains Mono", sans-serif;

  }

.content {
    width: 100vw;
    display: grid;
     align-items: center;
     //justify-content: center;
  background-color: var(--light-color);
}
