<div class="cont-title">Наши контакты</div>
<div class="main_cont">
  <div class="cont_left">
    <div class="cont_text">
      <span class="cont_text-main">Адрес:</span>
      <span class="cont_text-sub">Москва, ул. Дмитрия Ульянова, д.31</span>
    </div>
    <div class="cont_text">
      <span class="cont_text-main">Метро:</span>
      <span class="cont_text-sub">Академическая</span>
    </div>
    <div class="cont_text">
      <span class="cont_text-main">Контакты</span>
      <div class="cont_text-sub_d">
        <span class="cont_text-sub">+7 (495) 126 34 48</span>
        <span class="cont_text-sub">info&#64;piramida.club</span>
      </div>
    </div>
    <div class="cont_text">
      <span class="cont_text-main">По вопросам сотрудничества</span>
      <span class="cont_text-sub">a.golub&#64;piramida.club</span>
    </div>
    <div class="cont_text">
      <span class="cont_text-main">Режим работы:</span>
      <div class="cont_text-sub_d">
        <span class="cont_text-sub">Будние дни</span>
        <span class="cont_text-sub">с 6:00 до 24:00</span>
        <span class="cont_text-sub">Выходные</span>
        <span class="cont_text-sub">с 8:00 до 24:00</span>
      </div>
    </div>
    <div class="cont_text">
      <span class="cont_text-main">Политика конфиденциальности</span>
      <a class="cont_text-sub"
         href="./assets/documents/privacy-policy.pdf"
         target="_blank">
        Посмотреть документ
      </a>
    </div>
  </div>
  <div class="cont_right">
    <iframe
      src="https://yandex.ru/map-widget/v1/?um=constructor%3A802ef5c1f2f7762dc0eec6a18da85950df2e3d50828f20f1775afb2745600641&amp;source=constructor"
      width="650" height="637" frameborder="0">
    </iframe>
  </div>
</div>
