.main_sec{
  padding: 70px 160px;
  font-family: "JetBrains Mono", sans-serif;
  display: grid;
  grid-template-columns:auto 1fr;
  grid-gap: 50px;
  align-items: center;
  margin-bottom: -50px;
}

.left_img{
  height: 150px;
}

.right_sec{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right_sec_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right_name{
  font-size: 30px;
}

.abonement{
  font-size: 20px;
}

.right_sub_sec{
  display: flex;
  //flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.right_form{
  display: flex;
  gap: 10px;
}
.form_input{
  background: none;
  border-radius: 14px;
  border: 2px dashed var(--primary-color);
  color: var(--dark-color);
  font-size: 16px;
  padding: 10px;
  &:focus{
    outline: none;
  }
}

.form_input_invalid{
  background: none;
  border-radius: 14px;
  border: 2px dashed #aa1919;
  color: var(--dark-color);
  font-size: 16px;
  padding: 10px;
  &:focus{
    outline: none;
  }
}

.form_btn{
  border-radius: 14px;
  color: var(--light-color);
  font-size: 14px;
  cursor: pointer;
  padding: 8px 20px;
  border: 2px solid var(--light-primary-color);
  background-color: var(--light-primary-color);
  align-items: center;
  justify-content: center;
  &:hover{
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
  }
}

.right_sec_btn{
  display: flex;
  gap: 10px;
  justify-content: end;
}

@media(max-width: 480px){
  :host{
    margin-top: 35px;
  }
  .left_img{
    display: none;
  }
  .main_sec{
    padding: 40px 40px;
    display: grid;
    grid-template-columns:1fr;
    grid-gap: 20px;
    margin-bottom: -50px;
  }
  .left_img{
    height: 60px;
  }

  .right_sec{
    gap: 50px;
  }
  .right_sec_top{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
  }

  .right_sub_sec{
    flex-direction: column;
    gap: 12px;
  }
  .right_sec_btn{
    display: flex;
    gap: 10px;
    justify-content: start;
  }
  .right_name{
    font-size: 22px;
    font-weight: 500;
  }
  .right_form{
    flex-direction: column;
    //width: 315px;
    box-sizing: border-box;
    gap: 12px;
  }
  .abonement{
    font-size: 18px;
    max-width: 300px;
  }
}
