.footer {
    display: flex;
    background-color: var(--dark-color);
    font-family: "JetBrains Mono", sans-serif;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    //color: var(--primary-color);
  color: var(--light-color);
    font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.footer_r {
    display: flex;
    flex-direction: column;
}

@media (max-width: 480px) {
  .footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px 40px;
    height: auto;
  }
}
