.main_sec {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 40px;
  padding: 30px 160px;
  font-family: "JetBrains Mono", sans-serif;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title_text {
  font-size: 44px;
  font-weight: 500;
}

.main_sec_top{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background-color: var(--dark-color);
  border-radius: 14px;
  border: 2px solid var(--primary-color);
  padding: 25px 40px;
  justify-content: space-between;
  align-items: center;

}

.main_sec_top_text{
  font-size: 18px;
  font-weight: 500;
  color: var(--light-color);
}


.main_sec_bott{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  border: 2px solid var(--primary-color);
  background: none;
  border-radius: 14px;
  padding: 20px 40px;
  align-items: center;
}

.mess_text{
  font-size: 20px;
  font-weight: 500;
}

.name_text{
  font-size: 18px;
  color: var(--primary-color);
}

.phone_text{
  font-size: 18px;
  font-weight: 500;
}



.feed_btn{
background-color: var(--light-primary-color);
border-radius: 14px;
border: none;
color: var(--light-color);
font-size: 14px;
font-weight: 400;
padding: 10px;
cursor: pointer;

&:hover {
  background-color: var(--primary-color);
}
}


@media(max-width: 480px) {
  .for_desktop{
    display: none;
  }


  .title_text {
    font-size: 25px;
    font-weight: 600;
  }

  .main_sec {
    padding: 40px 40px;
    gap: 20px;
  }

  .main_sec_bott{
    padding: 20px;

    grid-gap: 7px;
    grid-template-columns: repeat(2, 1fr);
  }
  .mess_text,
  .name_text,
  .phone_text,
  .feed_btn{
    font-size: 16px;
  }
}
