.popup {
  font-family: "JetBrains Mono", sans-serif;
  position: fixed;
  border-radius: 14px;
  padding: 8px 14px;
  bottom: 0;
  right: 0;
  margin: 20px;
  user-select: none;
  align-items: center;
  text-align: center;
}

.success_popup {
  background-color: var(--primary-color);
}

.fail_popup {
  background-color: #fd3b3b;
}

.text_popup {
  font-size: 14px;
  color: var(--light-color);
}
