<div class="header">
  <button class="logo_btn" (click)="hideBar()">
    <img src="./assets/img/logo3.png" class="header_logo">
  </button>
  <span class="header_n">Фитнес-клуб Пирамида</span>
  <button *ngIf="!authService.isLoggedIn()" class="header_btn" [routerLink]="['/login']">Войти в аккаунт</button>
  <button *ngIf="authService.isLoggedIn()" class="header_btn" [routerLink]="['/lk']">Личный кабинет</button>
</div>

<div #header_under class="header_under">
  <a class="header_btn" [routerLink]="['/main']">Главная</a>
  <a class="header_btn" [routerLink]="['/schedule']">Распиcание</a>
  <a class="header_btn" [routerLink]="['/contacts']">Контакты</a>
  <a class="header_btn" [routerLink]="['/playground']">Testing zone</a>
</div>
