:root {
  --light-color: #FFFFFF;
  --light-garay-color: #BFBFBF;
  --gray-middle-color: #94969c;
  --gray-color: #5F646D;
  --dark-hover-color: #161616;
  --dark-color: #000000;
  --light-primary-color: #cbabf6;
  --primary-color: #a16ef8;
  --dark-primary-color: #6b21ea;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
