:root{
    --dark-color:#000000;
    --light-color:#FFFFFF;
    --primary-color: #a16ef8;
    --gray-color: #5F646D;
    --light-garay-color: #BFBFBF;
    --dark-hover-color:#161616;
    --light-primary-color: #cbabf6;
}

body, html { width: 100%; height: 100%;
margin: 0;
padding: 0;}
